{% load static %}
<html>
	<head>
		<title>Parking App</title>
		<style>
			#refrenceImage{
				height: 200px;
			}
			#processedImage{
				height: 200px;
			}
			.processedImageWrpr, .refrenceImageWrpr{
				margin: 0px auto;
				display: block;	
			}
			.header{
				padding: 27px;
				text-align: center;
				text-transform: uppercase;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
		<div class="outerWrapper">
			<div class="header">parking app</div>
			<div class="originalImage">
				<div class="refrenceImageWrpr">
					<img src="{{ refrenceImageUrl }}" id="refrenceImage" />
					<input type="hidden" id="nextImageindex" value="{{ nextImageIndex }}">
					<input type="button" id="nextButtonOrig" value="Run Algo"/>
				</div>
			</div>
			<div class="transformedImage">
				<div class="processedImageWrpr">
					<img src="{{ processedImageUrl }}" id="processedImage">
					<input type="hidden" id="nextprocessedimagenumber" value="{{ nextProcessedImageNumber }}">
					<input type="button" id="nextprocessed" value="Next Step">
				</div>
			</div>
		</div>
		<script>
		$(document).ready(function(){
			$("#nextButtonOrig").click(function(){
				$.ajax({
					url:"{% url 'refrenceImage' %}",
					type:"GET",
					data: {"nextprocessedimagenumber": $("#nextprocessedimagenumber").val(), "nextImageindex": $("#nextImageindex").val()},
				}).success(function(data){
					$("#nextprocessedimagenumber").val(data["nextprocessedimagenumber"]);
					$("#nextImageindex").val(data["nextImageindex"]);
				});
			});


			$("#nextprocessedimagenumber").click(function(){
				$.ajax({
					url:"{% url 'processedImage' %}",
					type:"GET",
					data: {"nextprocessedimagenumber": $("#nextprocessedimagenumber").val(), "nextImageindex": $("#nextImageindex").val()},
				}).success(function(data){
					$("#nextprocessedimagenumber").val(data["nextprocessedimagenumber"]);
					$("#nextImageindex").val(data["nextImageindex"]);
				});
			});
		});
		</script>
	</body>
</html>